.picker-position-bottom-left {
  top: 40px;
  right: 0;
}

.picker-position-bottom-right {
  top: 40px;
  left: 0;
}

.picker-position-top-left {
  bottom: 40px;
  right: 0;
}

.picker-position-top-right {
  bottom: 40px;
  left: 0;
}

.picker-container {
  position: relative;

  .picker-input {
    width: 200px;
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 0px 12px;
    color: darkgrey;
    height: 36px;
    outline: none;
  }

  .picker-calendar-container {
    position: absolute;
    width: 300px;
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #f1f1f1;
    border-radius: 4px;

    .topbar-container {
      width: 100%;
      height: 50px;
      padding: 15px;
      box-sizing: border-box;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      svg {
        cursor: pointer;
        g {
          fill: #ced0da;
        }
      }
      .topbar-title {
        color: #6c6d6f;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .main-calendar-container {
      width: 100%;
      height: 100%;
      padding: 15px 10px 0;
      font-size: 12px;
      font-weight: 500;
      box-sizing: border-box;

      .main-calendar-day-names {
        color: #BCB7C4;
        width: 100%;
        display: flex;
        align-items: center;

        .day-name-unit {
          width: calc(100% / 7);
          text-transform: uppercase;
          text-align: center;
        }
      }

      .main-calendar-days,
      .main-calendar-years {
        padding: 15px 0;
        width: 100%;
        display: inline-block;
        max-height: 275px;
        overflow: hidden;

        .day-unit,
        .year-unit {
          width: calc(100% / 7);
          height: 40px;
          display: inline-flex;
          float: left;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;
          border-radius: 50%;
          color: #6c6d6f;

          &.is-prev-month {
            color: #BCB7C4;
          }

          &:hover,
          &.is-today {
            background: #BCB7C4;
            color: white;
          }

          &.is-selected {
            background: #657cfe;
            color: white;
          }

          &.is-disabled {
            cursor: not-allowed;
            color: #BCB7C4;

            &:hover {
              background: transparent;
            }
          }
        }
      }

      .main-calendar-years {
        height: 210px;
        display: block;
        padding: 0;

        .year-unit {
          width: calc(100% / 3);
          border-radius: 10px;
        }
      }
    }
  }
}
